@import url('http://fonts.cdnfonts.com/css/apercu');

*{margin: 0px; padding: 0px;}

body{margin: 0px; padding: 0px; color: black; font-family: Apercu; background: white;}

a{text-decoration: none; color: black; }

#wrap{ overflow: auto; width: 100%;}

.menu a{color: black; font-size: 18px; padding: 15px;}

#header{ width: 100%; margin: auto; display: flex; align-items: center; justify-content: space-between;}


#left{
	background: #fff; height: 600px; width: 60%; float: left; 
}

.d1{font-size: 40px; margin: 100px 0px 20px 50px;}

.d2{font-size: 75px; font-weight: bold; padding: 0px 0px 0px 50px;}

#d4{font-size: 25px; padding: 30px 0px 0px 50px; width: 800px; text-align: justify;}

#right{
	height: 600px; width: 40%; float: left; background: url("Images/Liquid-Metal.gif"); background-repeat: no-repeat; margin-top: 120px;
}

#sk{
    background: white; width: 100%; float: left;
}

#sk p{margin: 0px 150px; font-size: 25px; line-height: 45px; text-align: justify;}

#sk h1{margin: 150px 150px 50px 150px; font-size: 75px; }

#kn{
    background: yellowgreen;  width: 50%; float: left;
}

.res{margin: 20px 0px 0px 150px; font-size: 20px; cursor: pointer; width: 300px;}

.res a:hover{
    color: yellow; font-weight: bold;
}

#icon{transform: rotate(45deg); }

#p_left{margin-top: 20px; width: 50%; float: left; text-align: center; font-size: 30px;}

#p_right{margin-top: 20px; width: 50%; float: left; font-size: 30px;}

#form_left{ margin-bottom: 50px; }

#form_left h1{font-size: 40px; padding: 100px 0px 20px 50px;}

#form_left p{margin: 100px; font-size: 25px; line-height: 45px; text-align: center;}

#btn{
background-color:yellow;
color:black;
text-decoration:none;
border-radius:20px;
border: 0px;
box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.34);
padding:10px 20px;
width:150px;
font-size:20px;
margin: 0px 0px 200px 680px;
text-align: center;
}

#reach{font-size: 20px; margin: 100px 0px 100px 600px; text-align: inherit;}

#links{text-align: center;}

#links a{text-align: center; text-decoration: underline;}

#links a:hover{color: yellow; text-decoration: blink; font-weight: bold;}



/* menu  */

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-item {
    margin-left: 40px;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 500;
    color: #475569;;
}

.nav-link:hover{
    border-bottom: 2px solid black;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* LOADER */

.preloader
{
    position:  fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: yellow;
    z-index: 100;
}

.preloader:before
{
    content: 'Loading';
    position: absolute;
    font-size: 12em;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(237, 234, 222, 0.4);
}

.preloader.active
{
    transform: translate(-300vh);
    transition: ease-in-out 2s;
    transition-delay: 1s;
}

.counter
{
    position: relative;
    color: black;
    font-size: 16em;
    font-weight: 700;
    z-index: 100;
}

.counter:after
{
    content: '%';
    font-size: 0.5em;
}

.hide
{
    opacity:  0;
    transition:  1s;
    pointer-events: none;
}

/* SCROLL*/
.html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar
{
    width: 5px;
}

::-webkit-scrollbar-track
{   
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: gray;
}

/* Contact page */

#info{margin: 200px 0px 0px 100px; }

#info h1{ font-size: 75px; margin-bottom: 50px; }

#space{ font-size: 50px; font-weight: bold;}

#info a{ text-decoration: underline;}

#info a:hover{ color: yellow; }

